*.egg-info
*.DS_Store
*.pyc
*.whl
*.swp
*.swo
*.zip
.idea
var
settings_local.py
/static/
coachview/management/commands/test.py
coachview_keys.txt
coachviewflow.txt
/static/
media
media/
/media/
.project
.pydevproject
.settings/
dump-prod-09-08-2016.sql
website/conf/saml/
.settings/org.eclipse.core.resources.prefs
maintenancemode.inactive
openlearn.dmp
build/node_modules/
celerybeat-schedule
olw-backup-*.sql
celerybeat.pid
Opleiding.csv
Opleidingssoort.csv


