*.egg-info
*.DS_Store
*.pyc
*.whl
*.swp
*.swo
*.zip
.idea
var
_settings_local.py
/static/
coachview/management/commands/test.py
coachview_keys.txt
coachviewflow.txt
/static/
media
media/
/media/
.project
.pydevproject
.settings/
db.sqlite3